In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
import tensorflow as tf

In [3]:
data = pd.read_csv('C:/Users/sanke/Documents/MSexcel/Churn_Modelling.csv')

In [4]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
data = data.drop(columns=['RowNumber', 'CustomerId', 'Surname'])  # Drop unnecessary columns
data = pd.get_dummies(data, columns=['Geography', 'Gender'], drop_first=True)  # One-hot encoding

In [7]:
# Split the dataset into features and target
X = data.drop(columns=['Exited'])
y = data['Exited']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
# Feature scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
# Build the neural network
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [11]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [12]:
# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/10
250/250 [==============================] - 5s 8ms/step - loss: 0.4575 - accuracy: 0.8014 - val_loss: 0.3961 - val_accuracy: 0.8255
Epoch 2/10
250/250 [==============================] - 2s 8ms/step - loss: 0.3876 - accuracy: 0.8434 - val_loss: 0.3618 - val_accuracy: 0.8520
Epoch 3/10
250/250 [==============================] - 2s 7ms/step - loss: 0.3574 - accuracy: 0.8551 - val_loss: 0.3486 - val_accuracy: 0.8575
Epoch 4/10
250/250 [==============================] - 1s 6ms/step - loss: 0.3460 - accuracy: 0.8597 - val_loss: 0.3480 - val_accuracy: 0.8550
Epoch 5/10
250/250 [==============================] - 1s 6ms/step - loss: 0.3406 - accuracy: 0.8594 - val_loss: 0.3444 - val_accuracy: 0.8545
Epoch 6/10
250/250 [==============================] - 1s 6ms/step - loss: 0.3361 - accuracy: 0.8618 - val_loss: 0.3463 - val_accuracy: 0.8580
Epoch 7/10
250/250 [==============================] - 2s 6ms/step - loss: 0.3331 - accuracy: 0.8634 - val_loss: 0.3456 - val_accuracy: 0.8590
Epoch 8/10
250/250 [==============================] - 2s 6ms/step - loss: 0.3294 - accuracy: 0.8630 - val_loss: 0.3423 - val_accuracy: 0.8575
Epoch 9/10
250/250 [==============================] - 2s 8ms/step - loss: 0.3274 - accuracy: 0.8650 - val_loss: 0.3404 - val_accuracy: 0.8610
Epoch 10/10
250/250 [==============================] - 2s 7ms/step - loss: 0.3242 - accuracy: 0.8651 - val_loss: 0.3384 - val_accuracy: 0.8630

In [13]:
# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test loss: {loss}, Test accuracy: {accuracy}")

63/63 [==============================] - 0s 4ms/step - loss: 0.3384 - accuracy: 0.8630
Test loss: 0.3384208083152771, Test accuracy: 0.8629999756813049

In [14]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

63/63 [==============================] - 1s 5ms/step

In [17]:
# Confusion matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)

# Classification report
cr = classification_report(y_test, y_pred)
print("\nClassification Report:")
print(cr)

Confusion Matrix:
[[1546   61]
 [ 213  180]]

Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.96      0.92      1607
           1       0.75      0.46      0.57       393

    accuracy                           0.86      2000
   macro avg       0.81      0.71      0.74      2000
weighted avg       0.85      0.86      0.85      2000